
experiment/arduino/src/experiment_config.h
*.asv
experiment/windows_driver/Build
*.o
*.a
*.hex
*.checksum
*.dblite
experiment/arduino/.vscode/launch.json
experiment/arduino/.vscode/extensions.json
*.elf
experiment/arduino/.vscode/c_cpp_properties.json
calibration/OptoPlate1_independent/cal_round_1.mat
calibration/OptoPlate1_independent/cal_round_2.mat
calibration/OptoPlate1_independent/CALIBRATED_WELLS01.csv
calibration/OptoPlate1_independent/CALIBRATED_WELLS02.csv
calibration/OptoPlate1_independent/heatmap_round_1.fig
calibration/OptoPlate1_independent/heatmap_round_2.fig
calibration/OptoPlate1_independent/intensities_round_1.fig
calibration/OptoPlate1_independent/intensities_round_1.mat
calibration/OptoPlate1_independent/intensities_round_2.fig
calibration/OptoPlate1_independent/measurements_calibrated.mat
calibration/OptoPlate1_independent/measurements_round_1.mat
calibration/OptoPlate1_independent/measurements_round_2.mat
calibration/OptoPlate1_independent/measurements_uncalibrated.mat
calibration/OptoPlate1_independent/output_intensity_vs_input_value.fig
calibration/OptoPlate1_independent/RAMP_WELLS01.csv
calibration/OptoPlate1_independent/RAMP_WELLS02.csv
calibration/OptoPlate1_independent/ROUND01_LED01_WELLS01.csv
calibration/OptoPlate1_independent/ROUND01_LED01_WELLS02.csv
calibration/OptoPlate1_independent/ROUND01_LED02_WELLS01.csv
calibration/OptoPlate1_independent/ROUND01_LED02_WELLS02.csv
calibration/OptoPlate1_independent/ROUND01_LED03_WELLS01.csv
calibration/OptoPlate1_independent/ROUND01_LED03_WELLS02.csv
calibration/OptoPlate1_independent/ROUND02_LED01_WELLS01.csv
calibration/OptoPlate1_independent/ROUND02_LED01_WELLS02.csv
calibration/OptoPlate1_independent/ROUND02_LED02_WELLS01.csv
calibration/OptoPlate1_independent/ROUND02_LED02_WELLS02.csv
calibration/OptoPlate1_independent/ROUND02_LED03_WELLS01.csv
calibration/OptoPlate1_independent/ROUND02_LED03_WELLS02.csv
calibration/OptoPlate1_independent/UNCALIBRATED_WELLS01.csv
calibration/OptoPlate1_independent/UNCALIBRATED_WELLS02.csv
calibration/OptoPlate2_independent/cal_round_1.mat
calibration/OptoPlate2_independent/cal_round_2.mat
calibration/OptoPlate2_independent/CALIBRATED_WELLS01.csv
calibration/OptoPlate2_independent/CALIBRATED_WELLS02.csv
calibration/OptoPlate2_independent/heatmap_round_1.fig
calibration/OptoPlate2_independent/heatmap_round_2.fig
calibration/OptoPlate2_independent/intensities_round_1.fig
calibration/OptoPlate2_independent/intensities_round_1.mat
calibration/OptoPlate2_independent/intensities_round_2.fig
calibration/OptoPlate2_independent/measurements_calibrated.mat
calibration/OptoPlate2_independent/measurements_round_1.mat
calibration/OptoPlate2_independent/measurements_round_2.mat
calibration/OptoPlate2_independent/measurements_uncalibrated.mat
calibration/OptoPlate2_independent/output_intensity_vs_input_value.fig
calibration/OptoPlate2_independent/RAMP_WELLS01.csv
calibration/OptoPlate2_independent/RAMP_WELLS02.csv
calibration/OptoPlate2_independent/ROUND01_LED01_WELLS01.csv
calibration/OptoPlate2_independent/ROUND01_LED01_WELLS02.csv
calibration/OptoPlate2_independent/ROUND01_LED02_WELLS01.csv
calibration/OptoPlate2_independent/ROUND01_LED02_WELLS02.csv
calibration/OptoPlate2_independent/ROUND01_LED03_WELLS01.csv
calibration/OptoPlate2_independent/ROUND01_LED03_WELLS02.csv
calibration/OptoPlate2_independent/ROUND02_LED01_WELLS01.csv
calibration/OptoPlate2_independent/ROUND02_LED01_WELLS02.csv
calibration/OptoPlate2_independent/ROUND02_LED02_WELLS01.csv
calibration/OptoPlate2_independent/ROUND02_LED02_WELLS02.csv
calibration/OptoPlate2_independent/ROUND02_LED03_WELLS01.csv
calibration/OptoPlate2_independent/ROUND02_LED03_WELLS02.csv
calibration/OptoPlate2_independent/UNCALIBRATED_WELLS01.csv
calibration/OptoPlate2_independent/UNCALIBRATED_WELLS02.csv
